body{
MARGIN: 5px 5px 5px 5px;
PADDING: 0px; 
BORDER: 0px;
COLOR: #333;
FONT-SIZE:12px;
LINE-HEIGHT:150%;
FONT-FAMILY: arial,verdana,sans-serif,'ו';
FONT-SIZE: 12px;
COLOR: #3E62DB;
background-color: #FFFFFF;
SCROLLBAR-FACE-COLOR: #85A2E0; 
SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; 
SCROLLBAR-SHADOW-COLOR: #ffffff; 
SCROLLBAR-3DLIGHT-COLOR: #ffffff; 
SCROLLBAR-ARROW-COLOR: #FFFF00; 
SCROLLBAR-TRACK-COLOR: #DAD9EA; 
SCROLLBAR-DARKSHADOW-COLOR: #DAD9EA;
}
A:link,A:active,A:visited{TEXT-DECORATION:none ;Color:#3E62DB}A:hover{TEXT-DECORATION: underline;Color:red}