a:link { text-decoration:none; color:#000000;}
a:active { text-decoration:none; color:#000000;}
a:visited { text-decoration:none; color:#333333;}
a:hover { text-decoration:underline; color:#333333; cursor:crosshair }

body{ 
	scrollbar-face-color:#ffffaa;
	scrollbar-arrow-color:#000000;
   scrollbar-shadow-color:#a7a7a7;
   scrollbar-highlight-color:#a7a7a7;
   scrollbar-3dlight-color:#a7a7a7;
   scrollbar-darkshadow-color:#a7a7a7;
   scrollbar-track-color:#ffffff;

   background-color:#ffffff;
   background-image:url(../Images/skins/skin13/flower.jpg);
   background-position:bottom right;
   background-repeat:no-repeat;
   background-attachment:fixed;
  
   font-family:verdana, arial, tahoma;
   font-size:11px;
   line-height:15px;
   color:#000000}

td.cells
{
border: 1px;
border-color:#000000;
border-style:solid;
background-color:#ffffaa;
z-index:1;
filter:
progid:dXimagetransform.microsoft.alpha(opacity=50) }

.logbutton
{
border: 1px solid #000000;background-color: #c0c0c0;
font-family:宋体; font-size: 12px; line-height: 15px;font-color:#A0A0A0;
}

.loginput
{
BORDER: #A0A0A0 1px solid;
WIDTH: 120px;
}
.log
{
font-family: 宋体;
font-size:12px;
text-align:left;
line-height: 14px;
}

.tab
{
font-family: 宋体;
font-size:14px;
text-align:left;
line-height: 14px;
color:#A0A0A0;
}

.PostFooter
{
font-family: georgia, Verdana, Arial, Helvetica, sans-serif,宋体;
text-align: right;
}

.head {
font-size: 12pt; 
color: #000000; 
}

.blog {
color: #000000;
#font-size: 10pt;
font-family: georgia, Verdana, Arial, Helvetica, sans-serif;
border: medium none #000000;
text-align: justify;
border-right: 1px solid #EDE9E0;
border-bottom: 1px solid #EDE9E0;
overflow: auto;
padding: 10px;
margin: 0px;
height: 100%; 
z-index:5
}

textarea, input, select {
font-family : verdana, arial,宋体; 
border-color: #c0c0c0;   
border-style: solid; 
border-top-width: 1px; 
border-left-width: 1px;
border-right-width: 1px; 
border-bottom-width: 1px; 
} 
