BODY {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Tahoma, "宋体"
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Tahoma, "宋体"
}
P {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Tahoma, "宋体"
}
A:link {
	FONT-SIZE: 12px; COLOR: #ff9933; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #ff9933; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #ffcc00; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
.unnamed1 A:visited {
	FONT-SIZE: 12px; COLOR: #ff9933; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
.unnamed6 {
	FONT-SIZE: 11px; COLOR: #c48400; LINE-HEIGHT: 20px; FONT-STYLE: normal; TEXT-DECORATION: none
}
.unnamed6 A:link {
	FONT-SIZE: 11px; COLOR: #c48400; LINE-HEIGHT: 20px; FONT-STYLE: normal; TEXT-DECORATION: none
}
.unnamed6 A:visited {
	FONT-SIZE: 11px; COLOR: #c48400; LINE-HEIGHT: 20px; FONT-STYLE: normal; TEXT-DECORATION: none
}
.unnamed6 A:hover {
	FONT-SIZE: 11px; COLOR: #ffcc00; LINE-HEIGHT: 20px; FONT-STYLE: normal; TEXT-DECORATION: none
}
.unnamed7 {
	FONT-SIZE: 12px; COLOR: #c48400; LINE-HEIGHT: 20px; FONT-STYLE: normal; TEXT-DECORATION: none
}
.unnamed7 A:hover {
	FONT-SIZE: 12px; COLOR: #ffcc00; LINE-HEIGHT: 20px; FONT-STYLE: normal; TEXT-DECORATION: none
}
.unnamed1 {
	FONT-SIZE: 12px; COLOR: #ff9933; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
.unnamed1 A:link {
	FONT-SIZE: 12px; COLOR: #ff9933; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
.unnamed1 A:visited {
	FONT-SIZE: 12px; COLOR: #ff9933; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
.unnamed1 A:hover {
	FONT-SIZE: 12px; COLOR: #ffcc00; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
.comment-text {
	FONT-SIZE: 11px; COLOR: #c48400
}
comment-text A:link {
	FONT-SIZE: 11px; COLOR: #c48400
}
comment-text A:visited {
	FONT-SIZE: 11px; COLOR: #c48400
}
.unnamed2 {
	FONT-SIZE: 12px; COLOR: #c48400; LINE-HEIGHT: 20px; FONT-STYLE: normal; TEXT-DECORATION: none
}
.unnamed2 A:link {
	FONT-SIZE: 12px; COLOR: #c48400; LINE-HEIGHT: 20px; FONT-STYLE: normal; TEXT-DECORATION: none
}
.unnamed2 A:visited {
	FONT-SIZE: 12px; COLOR: #c48400; LINE-HEIGHT: 20px; FONT-STYLE: normal; TEXT-DECORATION: none
}
.unnamed2 A:hover {
	FONT-SIZE: 12px; COLOR: #ffcc00; LINE-HEIGHT: 20px; FONT-STYLE: normal; TEXT-DECORATION: none
}
.unnamed3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff9933; TEXT-DECORATION: none
}
.unnamed3 A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff9933; TEXT-DECORATION: none
}
.unnamed3 A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff9933; TEXT-DECORATION: none
}
.unnamed3 A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffcc00; TEXT-DECORATION: none
}
.unnamed3a {
	FONT-SIZE: 12px; COLOR: #ff9933
}
.unnamed4 {
	FONT-SIZE: 36px; COLOR: #ff9933; FONT-FAMILY: "???"
}
.unnamed5 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #996600; LINE-HEIGHT: normal; FONT-STYLE: normal; TEXT-DECORATION: none
}
.unnamed5 A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #996600; LINE-HEIGHT: normal; FONT-STYLE: normal; TEXT-DECORATION: none
}
.unnamed5 A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #996600; LINE-HEIGHT: normal; FONT-STYLE: normal; TEXT-DECORATION: none
}
.unnamed5 A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffcc00; LINE-HEIGHT: normal; FONT-STYLE: normal; TEXT-DECORATION: none
}
.index {
	COLOR: #996600
}
.inputa {
	SCROLLBAR-FACE-COLOR: #000000; BORDER-LEFT-COLOR: #996600; BORDER-BOTTOM-COLOR: #996600; SCROLLBAR-HIGHLIGHT-COLOR: #999999; SCROLLBAR-SHADOW-COLOR: #999999; COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #000000; BORDER-TOP-COLOR: #996600; SCROLLBAR-ARROW-COLOR: #cccccc; SCROLLBAR-TRACK-COLOR: #000000; SCROLLBAR-DARKSHADOW-COLOR: #000000; BACKGROUND-COLOR: #999966; BORDER-RIGHT-COLOR: #996600
}


.loginput {
	SCROLLBAR-FACE-COLOR: #000000; BORDER-LEFT-COLOR: #996600; BORDER-BOTTOM-COLOR: #996600; SCROLLBAR-HIGHLIGHT-COLOR: #999999; SCROLLBAR-SHADOW-COLOR: #999999; SCROLLBAR-3DLIGHT-COLOR: #000000; BORDER-TOP-COLOR: #996600; SCROLLBAR-ARROW-COLOR: #cccccc; SCROLLBAR-TRACK-COLOR: #000000; SCROLLBAR-DARKSHADOW-COLOR: #000000; BACKGROUND-COLOR: #f3e8c0; BORDER-RIGHT-COLOR: #996600;
	WIDTH: 100px;
}
.selecta {
	SCROLLBAR-FACE-COLOR: #000000; BORDER-LEFT-COLOR: #996600; BORDER-BOTTOM-COLOR: #996600; SCROLLBAR-HIGHLIGHT-COLOR: #999999; SCROLLBAR-SHADOW-COLOR: #999999; COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #000000; BORDER-TOP-COLOR: #996600; SCROLLBAR-ARROW-COLOR: #cccccc; SCROLLBAR-TRACK-COLOR: #000000; SCROLLBAR-DARKSHADOW-COLOR: #000000; BACKGROUND-COLOR: #b3951c; BORDER-RIGHT-COLOR: #996600
}
.logbutton {
	BORDER-LEFT-COLOR: #999966; BORDER-BOTTOM-COLOR: #999966; COLOR: #ffffff; BORDER-TOP-COLOR: #999966; BACKGROUND-COLOR: #b3951c; BORDER-RIGHT-COLOR: #999966;
	font-family:宋体; font-size: 12px; line-height: 15px;
}

.msgsubmit {
	BORDER-LEFT-COLOR: #999966; BORDER-BOTTOM-COLOR: #999966; COLOR: #ffffff; BORDER-TOP-COLOR: #999966; BACKGROUND-COLOR: #b3951c; BORDER-RIGHT-COLOR: #999966;
	font-family:宋体; font-size: 12px; line-height: 15px;
}
.SendMessage {
	COLOR: #505050
}
.SendMessage A:link {
	COLOR: #505050
}
.SendMessage A:visited {
	COLOR: #505050
}
.SendMessage A:hover {
	COLOR: #999
}