a			{text-decoration: none;}
a:link       {  font-family: Arial; style; font-size: 14px; color: #606099; letter-spacing:0px}
a:hover     {  font-family: Arial; style; font-size: 14px; color: #8080ff; letter-spacing:0px}
body         {  
	font-family: Arial; 
	style; font-size: 14px; 
	color: #000000; 
	letter-spacing:0px;
	background:url("../Images/skins/skin17/bg.jpg") no-repeat fixed bottom right;
}

table        {  font-family: Arial; style; font-size: 14px; color: #000000; letter-spacing:0px}
td           {  font-family: Arial; style; font-size: 14px; color: #000000; letter-spacing:0px}

input{
	border:thin #B4B4F6 1px solid; 
	background:#ffffff;
}

textarea{
	border:thin #B4B4F6 1px solid; 
	background:#ffffff;
}

hr{
	height:2px;
    color: #B4B4F6;
    background-color: #B4B4F6;
    border: none;
}

.comments hr{
	height:1px;
    color: #B4B4F6;
    background-color: #B4B4F6;
    border: none;
}