A {
	FONT-WEIGHT: normal; FONT-SIZE: small; COLOR: #336699; FONT-FAMILY:宋体; TEXT-DECORATION: none
}
BLOCKQUOTE {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: small; BACKGROUND: #f6f6f6; PADDING-BOTTOM: 5px; COLOR: #666666; PADDING-TOP: 5px
}
BODY {
	MARGIN-TOP: 0px; FONT-SIZE: small; BACKGROUND: url(../Images/skins/skin6/nav_bg.gif) #ffffff; MARGIN-LEFT: 0px; COLOR: #666666; MARGIN-RIGHT: 0px; FONT-FAMILY:宋体
}
PRE {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 5px; FONT-SIZE: small; PADDING-BOTTOM: 3px; BORDER-LEFT: #999999 1px solid; COLOR: #333333; LINE-HEIGHT: 15px; PADDING-TOP: 2px; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #eeeeee
}
.blocktitle {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 5px 0px; PADDING-TOP: 2px; BACKGROUND-COLOR: #f6f6f6
}
.blog {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-TOP: 15px
}
.blogbody {
	BORDER-RIGHT: #336699 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: small; BACKGROUND: #ffffff; PADDING-BOTTOM: 10px; BORDER-LEFT: #336699 1px solid; LINE-HEIGHT: 15px; PADDING-TOP: 10px; BORDER-BOTTOM: #336699 3px double; FONT-FAMILY: 宋体
}
.comments-body {
	BORDER-RIGHT: #336699 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: small; BACKGROUND: #ffffff; PADDING-BOTTOM: 10px; BORDER-LEFT: #336699 1px solid; LINE-HEIGHT: 15px; PADDING-TOP: 10px; BORDER-BOTTOM: #336699 3px double; FONT-FAMILY: 宋体,"Palatino Linotype",verdana, arial, sans-serif
}
.button {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: small; PADDING-BOTTOM: 0px; BORDER-LEFT: 1px solid; COLOR: #336699; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid; HEIGHT: 22px
}
.calendar {
	FONT-WEIGHT: normal; FONT-SIZE: small; COLOR: #666666
}
.calendar A {
	FONT-WEIGHT: bold; FONT-SIZE: small; COLOR: #ff9900
}
.calendarhead {
	FONT-WEIGHT: normal; FONT-SIZE: small; BACKGROUND: #ffffff; COLOR: #666666; LINE-HEIGHT: 14px
}
.comment1 A {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; COLOR: #ffffff; PADDING-TOP: 1px; FONT-FAMILY: 宋体; BACKGROUND-COLOR: #ff9900; TEXT-DECORATION: none
}
.comment2 A {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; COLOR: #ffffff; PADDING-TOP: 1px; FONT-FAMILY: 宋体,"Palatino Linotype",verdana, arial, sans-serif; BACKGROUND-COLOR: #996699
}
.date {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: small; PADDING-BOTTOM: 10px; COLOR: #666666; PADDING-TOP: 10px; BORDER-BOTTOM: #336699 3px double
}
#menu {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: small; PADDING-BOTTOM: 10px; COLOR: #666666; PADDING-TOP: 10px; BORDER-BOTTOM: #336699 3px double
}
.flagdkgreen A {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; COLOR: #ffffff; PADDING-TOP: 1px; FONT-FAMILY: 宋体,"Palatino Linotype",verdana, arial, sans-serif; BACKGROUND-COLOR: #006600
}
.flagltgreen A {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; COLOR: #ffffff; PADDING-TOP: 1px; FONT-FAMILY: 宋体,"Palatino Linotype",verdana, arial, sans-serif; BACKGROUND-COLOR: #009900
}
.macside {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: small; BACKGROUND: #ffffff; PADDING-BOTTOM: 2px; MARGIN: 5px 0px 0px; COLOR: #666666; LINE-HEIGHT: 14px; PADDING-TOP: 2px; FONT-FAMILY: 宋体
}
.menutext {
	FONT-SIZE: small; MARGIN-LEFT: 10px; LINE-HEIGHT: 14px; FONT-FAMILY: 宋体
}
.menutitle {
	FONT-WEIGHT: bold; FONT-SIZE: small; MARGIN-LEFT: 10px; FONT-FAMILY: 宋体
}
.orange {
	COLOR: #ff9900
}
.photo {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 5px; BORDER-RIGHT-WIDTH: 0px
}
.posted {
	FONT-WEIGHT: normal; FONT-SIZE: small; COLOR: #336699; TEXT-ALIGN: left
}
.comments-post {
	FONT-WEIGHT: normal; FONT-SIZE: small; COLOR: #336699; TEXT-ALIGN: left
}
.powered {
	PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 10px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; COLOR: #003366; LINE-HEIGHT: 14px; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: center
}
.side {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: small; BACKGROUND: #ffffff; PADDING-BOTTOM: 2px; MARGIN: 5px 20px 0px 45px; COLOR: #666666; LINE-HEIGHT: 14px; PADDING-TOP: 2px; FONT-FAMILY: 宋体
}
.side2 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: small; BACKGROUND: #ffffff; PADDING-BOTTOM: 2px; MARGIN: 5px 10px 0px; COLOR: #666666; LINE-HEIGHT: 14px; PADDING-TOP: 2px; FONT-FAMILY: 宋体
}
.source A {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; COLOR: #666666; PADDING-TOP: 1px; FONT-FAMILY: "Palatino Linotype",verdana, arial, sans-serif; BACKGROUND-COLOR: #eeeeee
}
.stripetitle {
	PADDING-RIGHT: 2px; BORDER-TOP: #84939f 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: small; BACKGROUND-IMAGE: url(../Images/skins/skin6/stripe.gif); PADDING-BOTTOM: 2px; MARGIN: 5px 8px; COLOR: #666666; PADDING-TOP: 2px; BORDER-BOTTOM: #84939f 1px solid; LETTER-SPACING: 0.2em; BACKGROUND-COLOR: #f6f6f6; TEXT-ALIGN: center
}
.syndicate {
	PADDING-RIGHT: 2px; MARGIN-TOP: 10px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 9px; BACKGROUND: #eeeeee; PADDING-BOTTOM: 2px; LINE-HEIGHT: 14px; PADDING-TOP: 2px; TEXT-ALIGN: center
}
.title {
	FONT-WEIGHT: normal; FONT-SIZE: small; COLOR: #666666; LINE-HEIGHT: 14px; FONT-FAMILY: 宋体; LETTER-SPACING: 0.2em
}
.title A {
	FONT-WEIGHT: normal; FONT-SIZE: small; COLOR: #666666; LINE-HEIGHT: 14px; FONT-FAMILY: 宋体; LETTER-SPACING: 0.2em
}
.comments-head {
	FONT-WEIGHT: normal; FONT-SIZE: small; COLOR: #666666; LINE-HEIGHT: 14px; FONT-FAMILY: 宋体; LETTER-SPACING: 0.2em
}
.trackback-body {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: small; BACKGROUND: #ffffff; PADDING-BOTTOM: 10px; COLOR: #666666; LINE-HEIGHT: 140%; PADDING-TOP: 10px
}
.trackback-post {
	FONT-WEIGHT: normal; FONT-SIZE: x-small; BACKGROUND: #ffffff; COLOR: #666666
}
.trackback-url {
	BORDER-RIGHT: #cccccc 1px dashed; PADDING-RIGHT: 10px; BORDER-TOP: #cccccc 1px dashed; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: small; BACKGROUND: #ffffff; PADDING-BOTTOM: 10px; BORDER-LEFT: #cccccc 1px dashed; COLOR: #666666; LINE-HEIGHT: 140%; PADDING-TOP: 10px; BORDER-BOTTOM: #cccccc 1px dashed
}
#banner {
	PADDING-RIGHT: 15px; BORDER-TOP: #99ccff 3px double; PADDING-LEFT: 15px; FONT-WEIGHT: normal; FONT-SIZE: 26px; BACKGROUND: #336699; PADDING-BOTTOM: 15px; COLOR: #ffffff; PADDING-TOP: 15px; BORDER-BOTTOM: #99ccff 3px double; LETTER-SPACING: 0.2em
}
#banner A {
	FONT-WEIGHT: normal; FONT-SIZE: 26px; BACKGROUND: #336699; COLOR: #ffffff
}
#banner A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 26px; BACKGROUND: #336699; COLOR: #ffffff
}
#bannerpicts {
	LEFT: 240px; POSITION: absolute; TOP: 20px
}
#box {
	BACKGROUND: #ffffff; MARGIN: 0px 280px 20px 20px
}
#content {
	Z-INDEX: 3; BACKGROUND: #ffffff; MARGIN: 0px 150px 20px
}
#description {
	FONT-WEIGHT: normal; FONT-SIZE: x-small; BACKGROUND: #336699; TEXT-TRANSFORM: none; COLOR: #99ccff
}
#links {
	Z-INDEX: 1; RIGHT: 0px; BACKGROUND: #ffffff; WIDTH: 150px; POSITION: absolute; TOP: 135px; TEXT-ALIGN: center
}
#llinks {
	Z-INDEX: 2; BACKGROUND: #ffffff; LEFT: 0px; WIDTH: 150px; POSITION: absolute; TOP: 135px; TEXT-ALIGN: center
}
#macmenu {
	RIGHT: 40px; BACKGROUND: #ffffff; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 240px; POSITION: absolute; TOP: 60px
}
#menu {
	RIGHT: 40px; BACKGROUND: #ffffff; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 180px; POSITION: absolute; TOP: 60px
}

.logbutton
{
border: 1px solid #AAAAAA;background-color: #FFFFFF;
font-family:宋体; font-size: 12px; line-height: 15px;
}

.loginput
{
BORDER: #AAAAAA 1px solid;
WIDTH: 80px;
}
.log
{
font-family: 宋体;
font-size:12px;
text-align:left;
line-height: 14px;
}